
<link rel="stylesheet" href="/Public/css/navbarlogado.css">
<nav class="navbar">
    <div class="logo">
        <img src="/Public/Imagens/Logo.png" alt="InstitutoCred Logo"> <!-- Logo -->
    </div>
    <div class="cooperado-info">
        <span class="cooperado-nome"> <%= cooperadoNome %></span> <!-- Nome do cooperado dinâmico -->
        <a href="/logout" class="btn-sair">Sair</a> <!-- Botão de logout -->
    </div>
</nav>

